include mixins/article.pug
include mixins/post.pug
include mixins/archive.pug
include mixins/archive-post.pug

include mixins/layout/after-footer.pug
include mixins/layout/footer.pug
include mixins/layout/header.pug
include mixins/layout/mobile-nav.pug
include mixins/layout/sidebar.pug