mixin archive(pagination, index)
  if (pagination == 2)
    each post in page.posts.toArray()
      +article(post, true)
  else 
    each post in page.posts.toArray()
      +archive-post(post, even)
  if (page.total > 1)
    nav#page-nav
      - let prev_text = "&laquo; " + __('prev')
      - let next_text = __('next') + " &raquo"
      != paginator({prev_text: prev_text, next_text: next_text})
      
