p(class="text-red")
  strong(
    class="text-grey-darkest"
  ) Reading | Abingdon | Swindon | Braintree
  br
  | Crime &amp; Family: 0118 957 4018
  br
  | Mental Health: 0118 955 1918
  br
  | Out of Hours: 07917 662 770
  